<div>
  <p>この度はユーザー登録いただきましてありがとうございます。</p>
  <p> ※まだ登録は完了しておりません。</p>
</div>
<div>
  <p>下記のボタン、もしくはURLをクリックしてメールアドレスの有効化をしてください。</p>
  <p><%= link_to 'メールアドレスの有効化はこちら', confirmation_url(@resource, confirmation_token: @token) %></p>
</div>
<div>
  <p>※このURLは送信日時から24時間有効となっています。</p>
  <p>※URLをクリックしても画面が正しく表示されないときは、このURLをコピーしブラウザのアドレス入力欄に貼り付けてください。</p>
</div>

<hr>

<div>
  <p>Product Square Inc.</p>
  <p>京都府京都市伏見区淀水垂町509-16</p>
  <p>https://theproductsq.com</p>
</div>

<div>
  <p>このメールは弊社にメールアドレスを連絡いただいた方にお送りしております。</p>
  <p>万が一お心当たりのない場合は、他の方が誤って貴方のメールアドレスを通知したものと思われます。</p>
  <p>今後の配信を停止させていただきますので誠に恐縮ですが、<br>件名の文頭に「心当たりのないメール」と挿入していただき、info@theproductsq.com 宛にご転送ください。</p>
  <p>ご迷惑をおかけし、申し訳ございませんでした。</p>
</div>

