<div>
  <p>いつもご利用していただき、ありがとうございます。</p>
</div>
<div>
  <p>下記のリンクをからパスワードを変更できます。</p>
  <p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
</div>
<div>
  <p>※心当たりがない場合はこのメールを無視してください。</p>
  <p>※このURLは送信日時から24時間有効となっています。</p>
  <p>※URLをクリックしても画面が正しく表示されないときは、このURLをコピーしブラウザのアドレス入力欄に貼り付けてください。</p>
</div>

<hr>

<div>
  <p>Product Square Inc.</p>
  <p>京都府京都市伏見区淀水垂町509-16</p>
  <p>https://theproductsq.com</p>
</div>

