<section class="section" style="padding: 0.8rem 0;">
  <div style="margin: 0 0 1rem 0;">
    <p class="is-size-7">新着</p>
  </div>
  <%= render partial: 'shared/products', collection: products, as: :product %>
</section>
<section class="section">
  <%= paginate products %>
</section>