<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <%= link_to image_tag('product_square_color.svg'), root_path, class: 'navbar-item', alt: 'Product Square Logo', size: "150x20" %>
      </div>
      <div class="column">
      </div>
      <div class="column">
      </div>
      <div class="column">
        <p class="menu-label">
          Follow
        </p>
        <ul class="menu-list">
          <li><a>Twitter</a></li>
          <li><a>facebook</a></li>
          <li><a>Instagram</a></li>
        </ul>
      </div>
      <div class="column">
        <p class="menu-label">
          Company
        </p>
        <ul class="menu-list">
          <li><a href="https://goo.gl/forms/tT98l2zIkdEtNYLn1" target="_blank">お問い合わせ</a></li>
          <li><%= link_to '利用規約', page_path('terms_of_service') %></li>
          <li><%= link_to 'プライバシーポリシー', page_path('privacy_policy') %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>