<footer class="footer">
  <div class="content has-text-centered">
    <p><a href="#" style="text-decoration:none;">お問い合わせ</a></p>
    <p><a href="#" style="text-decoration:none;">利用規約</a></p>
    <p><a href="#" style="text-decoration:none;">プライバシーポリシー</a></p>
  </div>
</footer>